{{#each questions}}
<h1>{{this.text}}</h1>
{{/each}}

{{#each props}}
  <h2>{{this}}</h2>
  <h3>the name is {{this.name}}<h3>
{{/each}}

{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1>
        <h2>ERR bnb</h2>
        <br>
        <p>{{description}}</p>
        <br>
        <p>{{textOne}}</p>
        <br>
        <p>{{textTwo}}</p> --}}

      {{!-- //  image of err bnb logo --}}
      {{!-- 
        //heading of Err bnb title
        about app section list details <li>
          short <p> app mission statment
            col-md-4 of devolper pics
            start survey button --}}
      </div>
    </div>
  </div>
</div>